<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Подсчёт количества уникальных слов на сайте</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Form</h1>
<form th:action="@{/index}" th:object="${inputData}" method="post">
    <span>URL</span>
    <input th:field="*{url}">
    </p>
    <span>Список разделителей</span>
    <input th:field="*{delimiters}">
    </p>
    <button type="submit">OK</button>
</form></body>
</html>